<h2>Past Searches</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "term", "Term" %></th>
      <th><%= sortable "count", "Search Count" %></th>
      <th><%= sortable "updated_at", "Last Searched" %></th>
    </tr>
  </thead>
  <tbody>
  <% searches.each do |search_term| %>
    <tr>
      <td><%= link_to search_term.term, search_path(q: search_term.term) %></td>
      <td><%= search_term.count %></td>
      <td><%= time_ago_in_words(search_term.updated_at) %> ago</td>
    </tr>
  <% end %>
  </tbody>
</table>