<h1>Responses for <%= @term %></h1>

<% if @hits.count > 0 %>
  <% @hits.each do |hit| %>
    <p><%= link_to hit["title"], hit["url"] %></p>
  <% end %>
<% else %>
  <p>No results...</p>
<% end %>

<% content_for :sidebar do %>
  <% if @term_history %>
    <ul>
      <h2>Past Searches for <%= @term %></h2>
      <% @term_history.each do |s| %>
        <li><%= time_ago_in_words s.date %> ago</li>
      <% end %>
    </ul>
  <% else %>
    <p>This is the first time anyone searched for <%= @term %>!</p>
  <% end %>
<% end %>
