<%= render "form", locals: { term: @term } %>

<h2>API Responses for <em><%= @term %></em></h2>

<% if @response['hits'].count > 0 %>
  <% @response['hits'].each do |hit| %>
    <p><%= link_to hit["title"], hit["url"] %></p>
  <% end %>
<% else %>
  <p>No results...</p>
<% end %>

<p>
  <% if @prev_page %>
    <%= link_to raw('&laquo; Previous'), search_path(q: @term, page: @prev_page) %>
  <% end %>
  <span>Page <%= @page %> of <%= @response['nbPages'] %></span>
  <% if @next_page %>
    <%= link_to raw('Next &raquo;'), search_path(q: @term, page: @next_page) %>
  <% end %>
</p>

<% content_for :sidebar do %>
  <h2>Past Searches for <em><%= @term %></em></h2>
  <% if @term_history %>
    <ul>
      <% @term_history.each do |s| %>
        <li><%= time_ago_in_words s.created_at %> ago</li>
      <% end %>
    </ul>
  <% else %>
    <p>This is the first time anyone searched for <%= @term %>!</p>
  <% end %>
<% end %>
